:root {
  /* --body-bg: #d0d0d0;
  --body-bg: #e5e5ea; */
  --theme-1-accent: #f2f4f7;
  --theme-1: #c6c9cc;
  --theme-2-accent:  #40464f;
  --theme-2-accent: #35383d;
  --theme-2: #21242a;
  --theme-2: #08080a;
  --theme-2: #1d2836;
  --theme-2: #0b0d1a;
  --theme-2: #0e1122;
  /* --theme-3-accent: #ffba45;
  --theme-3: #fb9820;
  --theme-3-fade: #fb98208c;
  --theme-3-fade: #fb9820b9; */

  --theme-3-accent: #dfc068;
  /* --theme-3: #c1923f; */
  --theme-3: #b17a2a;
  --theme-3-fade: #b17a2ab9;
  /* --theme-3: #ac9544; */

  /* --theme-3-accent: #20a557;
  --theme-3: #018035;
  --theme-3-fade: #018035b9; */
  --text-primary: #212121;
  /* --text-secondary: #aaaaaa; */
  --text-secondary: #c2c4c7;
  --divider: #dcdfe5;
  --divider: #e7eaef;
  --divider: #f6e387;
  --divider: #0e152b;
  --divider: #141d2b;
  --divider: #121a2d;
  --divider: #1e2a48;
  --theme-2-accent: #0e152b;
  --theme-2-accent: #121a2d;
  /* --grid-color-1: #e6e6e6; */
  /* --grid-color-2: #e0e0e0; */
  /* --grid-color-1: #cecece;
  --grid-color-2: #dddddd; */
  /* --dot-color-1: ##cecece;
  --dot-color-1: #e2e2e2; */
  --grid-hor-color: #e6e6e6;
  /* --grid-hor-color: #f0f0f0;
  --grid-hor-color: #d6d6d652; */
}

body {
  /* font-family: K2D, Helvetica, Arial, sans-serif; */
  font-family: Rubik, sans-serif;
  font-size: 16px;
  /* font-size: 1.1em; */
  /* font-size: 18px; */
  background-color: var(--theme-1-accent);
  /* background-color: var(--body-bg); */
  color: var(--text-primary);
  /* letter-spacing: 0.4em; */
  /* letter-spacing: .5px; */
  /* -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; */
  line-height: 2;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* Navigation */

.site-header {
  color: var(--text-primary);
  /* color: var(--theme-color-2); */
  /* background-color: var(--theme-2); */
  background-color: var(--theme-1);
  background-image: linear-gradient(180deg, var(--theme-1-accent) 0%, var(--theme-1) 100%);
  /* background-image: linear-gradient(180deg, #0389aa 0%, #00617f 100%); */
  /* border-bottom: 2px solid #866565; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  box-shadow: 0 5px 7px -6px rgba(0, 0, 0, 0.5);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
  box-shadow: 0 8px 20px 0 rgba(0,0,0,.1);
  /* letter-spacing: 1px; */
  transition: background-color .5s, border-bottom 1s;
  /* transition: background 5s; */
  /* text-transform: uppercase; */
}

.navbar-expand-md .navbar-collapse {
  flex-basis: 100%;
}

.offcanvas {
  /* background-image: url("/assets/icons/hexagons2.svg"); */
  /* background-image: url("/assets/icons/rain2.svg"); */
  background-image: url("/assets/icons/diagonals2.svg");
}

/* Main Content */

.hero {
  position: relative;
  background-color: var(--theme-2);
  /* background-image: url("/assets/icons/hexagons1.svg"); */
  /* background-image: url("/assets/icons/rain1.svg"); */
  background-image: url("/assets/icons/diagonals1.svg");
  color: var(--theme-1-accent);
  /* padding: 8rem 3vw 4rem; */
  padding: 95px 3vw 3rem;
}

/* Common styles */

.section {
  position: relative;
  padding-top: 90px;
  /* margin-bottom: 1em; */
}

.card {
  /* padding: 1em; */
  /* max-width: 400px; */
  /* margin: auto;
  line-height: 2; */
  /* padding: .5em; */
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.1); 
  /* box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); */
  /* transition: .4s ease-in-out; */
  transition: box-shadow 0.5s;
}

.card:hover {
  /* box-shadow: 0px 0px 6px 0px #ababab;   */
  box-shadow: 0px 0px 7px 4px #ababab;
}

.testimonial-card {
  height: 450px;
  /* min-height: 250px; */
  /* min-height: 100vh; */
  width: 300px;
  line-height: 1.5;
  margin: auto;
}

.display-card {
  color: var(--text-primary);
  max-width: 400px;
}

.contact-card {
  position: relative;
  display: flex;
  /* max-width: 200px; */
  /* margin: auto; */
}

.form-container {
  max-width: 600px;
}

.form-message.form-control {
  min-height: 100px;
}

/* .profession {
  min-height: 60px;
} */

/* .cta-resources {
  position: relative;
  background-color: var(--theme-3-accent);
  padding-bottom: 2em;
} */

/* .cta-section {
  position: relative;
  color: var(--theme-1-accent);
  background-color: var(--divider-bg-color);
  background-color: var(--theme-2-accent);
  padding-bottom: 2em;
} */

.cta-deco {
  position: absolute;
  top: -18px;
  left: 0;
  width: 100%;
  height: 20px;
  fill: var(--theme-2-accent);
}

/* Footer */
.site-footer {
  /* width: 100%;
  position: fixed;
  bottom: 0; */
  position: relative;
  background-color: var(--theme-2);
  /* background-color: var(--theme-2-accent); */
  color: var(--theme-1-accent);
  /* color: var(--text-primary); */
  /* padding: 1em; */
  /* text-align: center; */
  /* text-transform: uppercase; */
}

.footer-deco {
  position: absolute;
  top: -18px;
  left: 0;
  width: 100%;
  height: 20px;
  fill: var(--theme-2);
}

/* .carousel {
  min-height: 100vh;
  line-height: 1.5;
} */

/* blockquote {
  min-height: 300px;
} */

blockquote::before {
  /* content: open-quote; */
  content: ' \0022';
  font-family: "Times New Roman", sans-serif;
  /* opacity: .2; */
  opacity: .7;
  color: var(--theme-2-accent);
  position: absolute;
  top: 100px;
  /* top: 90px; */
  left: 0;
  /* left: -0.4rem; */
  font-size: 3rem;
}
/* 
blockquote::before {
    content: open-quote;
    font-family: Rubik, sans-serif;
    opacity: .2;
    color: var(--theme-3-fade);
    position: absolute;
    top: 90px;
    left: 0;
    font-size: 3em;
} */

/* blockquote::after {
  content: close-quote;
} */

/* blockquote {
  quotes: "“" "”" "‘" "’";
} */

/* q {
  color: #454f58;
  font-style: italic;
}


q::after,
q::before {
  font-family: Rubik, sans-serif;
  color: var(--theme-2);
  font-size: 2rem;
  margin: 1rem;
  font-style: italic;
} */

.header-link {
  /* color: #100404; */
  position: relative;
  font-size: 1.3em;
}

.header-link:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  left: 25%;
  bottom: 0;
  /* bottom: -3px; */
  /* border-bottom: 4px solid transparent; */
  border-bottom: 4px solid var(--theme-2);
  /* border-radius: 3px; */
  border-radius: 4px 4px 0 0;
  /* border-radius: 0 0 4px 4px; */
  transition: all .5s;
}

.header-link:hover:after,
.header-link.active:after {
  /* border-color: var(--theme-2); */
  width: 50%;
}

.nav-link {
  color: inherit;
  margin: auto 1vw;
  text-transform: capitalize
}

.link {
  color: var(--text-secondary);
  text-decoration: none;
  /* line-height: 2; */
  /* transition: color 0.5s; */
}

.sidebar-icon {
  font-size: 1.5rem;
  color: inherit;
}

.sidebar-link {
  position: relative;
  font-size: 1.5rem;
  color: inherit;
  /* line-height: 3; */
  /* margin: 0.5em 1em; */
}

.sidebar-link:before {
  content: "";
  display: block;
  position: absolute;
  height: 0;
  left: -1rem;
  bottom: 0;
  border-left: 4px solid var(--theme-2);
  /* border-radius: 4px 0 0 4px; */
  border-radius: 0 4px 4px 0;
  /* transition: all .5s; */
  transition: height .5s;
}

.sidebar-link:hover:before,
.sidebar-link.active:before {
  height: 100%;
}

.link:hover,
.link:focus,
.nav-link:hover,
.nav-link:focus {
  color: var(--theme-3);
  /* color: inherit; */
  /* color: #fa0; */
  background: none;
  text-decoration: none;
  /* opacity: 0.9; */
  transition: color 0.4s;
}

.link-icon {
  padding: 1em;
  margin: 0 1.5rem 1.5rem 0;
  /* margin-right: 1.5rem; */
}

.go-to-top-link {
  /* transition: .2s; */
  position: fixed;
  /* color: var(--theme-3); */
  bottom: 0;
  right: 0;
  /* bottom: 1.2rem;
  right: 1.5rem; */
  /* visibility: hidden; */
  /* opacity: 0; */
  z-index: 15;
}

.go-to-top-link:hover {
  color: var(--theme-1-accent);
}

.title {
  font-family: K2D, sans-serif;
  /* font-family: Rubik, tahoma, sans-serif; */
  margin-bottom: 1.5rem;
  letter-spacing: .5px;
  /* padding: 1rem; */
  /* padding-top: 1rem;
  padding-bottom: 1rem; */
}

.sub-title {
  position: relative;
  text-align: center;
  /* text-transform: uppercase; */
}

.sub-title:before {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  left: 0;
  bottom: -10px;
  border-bottom: 4px solid var(--theme-3);
  /* border-radius: 3px; */
  /* border-radius: 4px 4px 0 0; */
  border-radius: 0 0 4px 4px;
  transition: width .5s;
}

.sub-title:hover:before {
  width: 5%;
  /* width: 75%; */
}

/* .sub-title:after {
  content: "\1F66E";
  position: absolute;
  font-size: 1em;
  left: 0;
  color: var(--theme-3);
  bottom: -16px;
  transition: width .5s;
} */


/* Button styles */

.btn {
  /* font-size: 0.8em; */
  font-size: 0.9rem;
  color: inherit;
  /* font-weight: 900; */
  text-transform: uppercase;
  letter-spacing: .5px;
  /* letter-spacing: 2px; */
  /* padding: 1rem; */
  padding: 0.5rem;
  margin: 0.5rem;
  /* border-radius: 25px; */
}

.btn-main {
  background-color: var(--theme-2);
  background-image: linear-gradient(180deg, var(--theme-2-accent) 0%, var(--theme-2) 100%);
  color: var(--theme-1-accent);
  border: 1px solid var(--theme-2);
}

.btn-gold {
  background-color: var(--theme-3);
  background-image: linear-gradient(180deg, var(--theme-3-accent) 0%, var(--theme-3) 100%);
  color: var(--text-primary);
  border: 1px solid var(--theme-3);
}

.btn-white {
  background-color: var(--theme-1);
  background-image: linear-gradient(180deg, var(--theme-1-accent) 0%, var(--theme-1) 100%);
  color: var(--text-primary);
  border: 1px solid var(--theme-1);
}

/* [class*="btn-"] {
  width: 100%;
  color: inherit;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 25px;
} */

.btn:hover,
.btn:focus,
.btn:active {
  background-color: var(--theme-2);
  background-image: none;
  color: var(--theme-1);
  border: 1px solid var(--theme-2-accent);
  transition: 0.4s;
}

/* .thumbnail-border {
  border: 1px solid #c8ccd1;
  padding: 3px;
  background-color: #f8f9fa;
  overflow: hidden;
} */

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.cta-gold {
  background-color: var(--theme-3-accent);
  /* background-image: linear-gradient(180deg, var(--theme-3-accent) 0%, var(--theme-3) 100%); */
  /* border-radius: 4px; */
}

.cta-white {
  background-color: var(--theme-1);
  /* background-image: linear-gradient(180deg, var(--theme-1-accent) 0%, var(--theme-1) 100%); */
  /* border-radius: 4px; */
}

.cta-black {
  background-color: var(--theme-2-accent);
  color: var(--theme-1-accent);
  /* background-image: linear-gradient(180deg, var(--theme-1-accent) 0%, var(--theme-1) 100%); */
  /* border-radius: 4px; */
}

.cta-divider {
  background-color: var(--divider);
  color: var(--theme-1-accent);
}

.img-container {
  max-width: 500px;
}

.avatar {
  display: flex;
  width: 100px;
  height: 100px;
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  justify-content: center;
  align-items: center;
}

/* 
.text-muted {
  color: var(--text-secondary)
} */

.theme-color {
  color: var(--theme-3-accent)
}

.theme {
  color: var(--theme-3)
}

.theme:hover {
  color: var(--theme-2)
}

.theme-bg {
  background-color: var(--theme-3);
}

.telephone {
  /* color: #ff9800; */
  color: #2196f3;
}

.email {
  color: #f44336;
}

.whatsapp {
  color: #4caf50;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(187, 187, 187);
  /* border-radius: 4px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(144, 144, 144);
  /* border-radius: 4px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #474747;
}

/* Fade animations */

.fade-in {
  /* animation: fade-frames 1.5s ease 5s forwards; */
  animation: fade-frames 1.5s ease 1s forwards;
  opacity: 0;
}

/* 
.fade-out {
  animation: fade-frames 5s ease 5s backwards;
  opacity: 0;
} */

@keyframes fade-frames {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
