:root {
  --theme-1-accent: #f2f4f7;
  --theme-1: #c6c9cc;
  --theme-2-accent:  #40464f;
  --theme-2: #21242a;
  --theme-3-accent: #ffba45;
  --theme-3: #fb9820;
  --theme-3-fade: #fb98208c;
  --theme-3-fade: #fb9820b9;
  --text-primary: #212121;
  --text-secondary: #aaaaaa;
  --text-secondary: #c2c4c7;
  --divider-bg-color: #bdbdbd;
  --grid-color-1: #e6e6e6;
  --grid-color-2: #e0e0e0;
  --grid-color-1: #cecece;
  --grid-color-2: #dddddd;
  --dot-color-1: #ababab;
}

body {
  /* font-family: K2D, Helvetica, Arial, sans-serif; */
  font-family: Rubik, verdana, tahoma, sans-serif;
  /* font-size: 16px; */
  /* font-size: 1.1em; */
   font-size: 18px;
  background-color: var(--theme-1-accent);
  color: var(--text-primary);
  /* letter-spacing: 0.4em; */
  letter-spacing: .5px;
  /* -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; */
  line-height: 2;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.site-header {
  color: var(--text-primary);
  /* color: var(--theme-color-2); */
  /* background-color: var(--theme-2); */
  background-color: var(--theme-1);
  background-image: linear-gradient(180deg, var(--theme-1-accent) 0%, var(--theme-1) 100%);
  /* background-image: linear-gradient(180deg, #0389aa 0%, #00617f 100%); */
  /* border-bottom: 2px solid #866565; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  box-shadow: 0 5px 7px -6px rgba(0, 0, 0, 0.5);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
  box-shadow: 0 8px 20px 0 rgba(0,0,0,.1);
  /* letter-spacing: 1px; */
  transition: background-color .5s, border-bottom 1s;
  /* transition: background 5s; */
  /* text-transform: uppercase; */
}

.jombotron {
  background-color: var(--theme-2);
  /* background-image: url("/images/lion.jpg"); */
  color: var(--theme-1);
  /* padding: 8rem 3vw 4rem; */
  padding: 95px 3vw 3rem;
}

.card {
  /* padding: 1em; */
  /* max-width: 400px; */
  /* margin: auto;
  line-height: 2; */
  /* padding: .5em; */
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.1); 
  /* box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); */
  /* transition: .4s ease-in-out; */
  transition: box-shadow 0.5s;
}

.card:hover {
  /* box-shadow: 0px 0px 6px 0px #ababab;   */
  box-shadow: 0px 0px 7px 4px #ababab;
}

.testimonial-card {
  /* min-height: 300px; */
  min-height: 250px;
}

.contact-card {
  position: relative;
  display: flex;
  /* max-width: 200px; */
  /* margin: auto; */
}

.section {
  padding-top: 90px;
  /* margin-bottom: 1em; */
}

/* .profession {
  min-height: 60px;
} */

.cta-resources {
  position: relative;
  background-color: var(--theme-3-accent);
  /* padding-bottom: 2em; */
}

.cta-section {
  position: relative;
  color: var(--theme-1-accent);
  background-color: var(--divider-bg-color);
  background-color: var(--theme-2-accent);
  padding-bottom: 2em;
}

.cta-deco {
  position: absolute;
  top: -18px;
  left: 0;
  width: 100%;
  height: 20px;
  fill: var(--theme-2-accent);
}

.site-footer {
  /* width: 100%;
  position: fixed;
  bottom: 0; */
  position: relative;
  background-color: var(--theme-2);
  /* background-color: var(--theme-2-accent); */
  color: var(--theme-1-accent);
  /* color: var(--text-primary); */
  padding: 1em;
  /* text-align: center; */
  /* text-transform: uppercase; */
}

.footer-deco {
  position: absolute;
  top: -18px;
  left: 0;
  width: 100%;
  height: 20px;
  fill: var(--theme-2);
}

blockquote::before {
  content: open-quote;
  font-family: Rubik, sans-serif;
  /* opacity: .2; */
  color: var(--theme-3-fade);
  position: absolute;
  top: 45px;
  left: 0;
  font-size: 4em;
}

/* blockquote::after {
  content: close-quote;
} */

/* blockquote {
  quotes: "“" "”" "‘" "’";
} */

q {
  color: #454f58;
  /* font-style: italic; */
}


q::after,
q::before {
  font-family: Rubik, sans-serif;
  /* color: var(--theme-2); */
  font-size: 2rem;
  margin: 1rem;
  /* font-style: italic; */
}

.header-link {
  /* color: #100404; */
  position: relative;
  font-size: 1.3em;
}

.header-link:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  left: 25%;
  bottom: 0;
  /* bottom: -3px; */
  /* border-bottom: 4px solid transparent; */
  border-bottom: 4px solid var(--theme-2);
  /* border-radius: 3px; */
  border-radius: 4px 4px 0 0;
  /* border-radius: 0 0 4px 4px; */
  transition: all .5s;
}

.header-link:hover:after,
.header-link.active:after {
  /* border-color: var(--theme-2); */
  width: 50%;
}

.nav-link {
  color: inherit;
  margin: auto 1vw;
  text-transform: capitalize
  /* line-height: 2; */
  /* transition: color 0.5s; */
}

.link {
  color: var(--text-secondary);
  text-decoration: none;
  margin: 0 1.5rem 1.5rem 0;
  /* line-height: 2; */
  /* transition: color 0.5s; */
}

.sidebar-link {
  font-size: 1.5rem;
  color: inherit;
  /* line-height: 3; */
  /* margin: 0.5em 1em; */
}

.link:hover,
.link:focus,
.nav-link:hover,
.nav-link:focus {
  color: var(--theme-3);
  /* color: inherit; */
  /* color: #fa0; */
  background: none;
  text-decoration: none;
  /* opacity: 0.9; */
  transition: color 0.4s;
}

/* .link-icon {
  padding: 1em;
  margin-right: 1.5rem;
} */

.go-to-top-link {
  transition: .2s;
  position: fixed;
  color: var(--theme-3);
  bottom: 1rem;
  right: 1rem;
  /* bottom: 1.2rem;
  right: 1.5rem; */
  /* visibility: hidden; */
  /* opacity: 0; */
  z-index: 15;
}

.title {
  font-family: K2D, Helvetica, verdana, sans-serif;
  /* font-family: Rubik, verdana, tahoma, sans-serif; */
  margin-bottom: 1.5rem;
  /* padding: 1rem; */
  /* padding-top: 1rem;
  padding-bottom: 1rem; */
}

.sub-title {
  position: relative;
  text-align: center;
  /* text-transform: uppercase; */
}

.sub-title:before {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  left: 0;
  bottom: -10px;
  border-bottom: 4px solid var(--theme-3);
  /* border-radius: 3px; */
  /* border-radius: 4px 4px 0 0; */
  border-radius: 0 0 4px 4px;
  transition: width .5s;
}

.sub-title:hover:before {
  width: 5%;
  /* width: 75%; */
}

.btn {
  color: inherit;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  /* border-radius: 25px; */
}

.btn-main {
  background-color: var(--theme-2);
  background-image: linear-gradient(180deg, var(--theme-2-accent) 0%, var(--theme-2) 100%);
  /* background-image: linear-gradient(180deg, var(--theme-1-accent) 0%, var(--theme-1) 100%); */
  color: var(--theme-1-accent);
  font-size: 0.8em;
  padding: 1rem;
  border: 1px solid var(--theme-2);
  margin: 0.5rem;
}

.btn-cta {
  background-color: var(--theme-3);
  background-image: linear-gradient(180deg, var(--theme-3-accent) 0%, var(--theme-3) 100%);
  color: var(--text-primary);
  font-size: 0.8em;
  padding: 1rem;
  border: 1px solid var(--theme-3);
  margin: 0.5rem;
}

.btn-main:hover,
.btn-main:focus,
.btn-main:active {
  background-image: none;
  color: var(--theme-1);
  transition: 0.4s;
}

.btn-cta:hover,
.btn-cta:focus,
.btn-cta:active {
  background-image: none;
  color: var(--text-primary);
  transition: 0.4s;
}

.thumbnail-border {
  border: 1px solid #c8ccd1;
  padding: 3px;
  background-color: #f8f9fa;
  overflow: hidden;
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.carousel-indicators {
  /* position: relative; */
  background-color: var(--theme-2-accent);
}

.carousel-item {
  min-height: 250px;
  transition: transform .6s ease;
}

.form-container {
  max-width: 600px;
}

.form-message.form-control {
  min-height: 100px;
}

.cta {
  background-color: var(--theme-3);
  background-image: linear-gradient(180deg, var(--theme-3-accent) 0%, var(--theme-3) 100%);
  /* border-radius: 4px; */
}

/* 
.text-muted {
  color: var(--text-secondary)
} */

.theme {
  color: var(--theme-3)
}

.theme-bg {
  background-color: var(--theme-3);
}

.avatar {
  display: flex;
  width: 60px;
  height: 60px;
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  justify-content: center;
  align-items: center;
}

.telephone {
  /* color: #ff9800; */
  color: #2196f3;
}

.email {
  color: #f44336;
}

.whatsapp {
  color: #4caf50;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(187, 187, 187);
  /* border-radius: 4px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(144, 144, 144);
  /* border-radius: 4px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #474747;
}

/* .portrait {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-mask-image: radial-gradient(circle,
      white 0%,
      white 30%,
      transparent 80%,
      transparent);
  mask-image: radial-gradient(white 0%,
      white 30%,
      transparent 80%,
      transparent);
} */


.grid-bg {
  background-image: 
  linear-gradient(var(--grid-color-1) 1px, transparent 1px),
  linear-gradient(90deg, var(--grid-color-1) 1px, transparent 1px),
  linear-gradient(var(--grid-color-2) 1px, transparent 1px),
  linear-gradient(90deg, var(--grid-color-2) 1px, transparent 1px);
  
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
}

.grid-md-bg {
  background-image: 
  linear-gradient(var(--grid-color-1) 1px, transparent 1px),
  linear-gradient(90deg, var(--grid-color-1) 1px, transparent 1px);
  
  background-size: 25px 25px, 25px 25px;
  background-position: -1px -1px, -1px -1px;
}

.grid-sm-bg {
  background-image: 
  linear-gradient(#144364 1px, transparent 1px),
  linear-gradient(90deg,#144364 1px, transparent 1px),
  linear-gradient(#052a43 1px, transparent 1px),
  linear-gradient(90deg,#052a43 1px, transparent 1px),
  linear-gradient(#0b3653 1px, transparent 1px),
  linear-gradient(90deg,#0b3653 1px, transparent 1px);

  background-size: 100px 100px,100px 100px,5px 5px,5px 5px,20px 20px,20px 20px;
  background-position: -1px -1px,-1px -1px,0 0,0 0,-1px -1px,-1px -1px;
}

.grid-dot-bg {
  background-image: 
  linear-gradient(var(--grid-color-1) 1px, transparent 1px),
  linear-gradient(90deg, var(--grid-color-1) 1px, transparent 1px),
  radial-gradient(circle, var(--grid-color-2) 1px, rgba(0,0,0,0) 1px);
  
  background-size: 30px 30px, 30px 30px, 5px 5px;
  background-position: -1px -1px, -1px -1px;
}

.dot-grid-bg {
  background-image: 
  linear-gradient(var(--grid-color-1) 1px, transparent 1px),
  linear-gradient(90deg, var(--grid-color-1) 1px, transparent 1px),
  radial-gradient(circle, var(--dot-color-1) 1px, rgba(0,0,0,0) 1px);
  
  background-size: 30px 30px, 30px 30px, 30px 30px;
  background-position: -1px -1px, -1px -1px;
}

.dot-bg {
  background-image: radial-gradient(circle, var(--dot-color-1) 1px, rgba(0,0,0,0) 1px);
  background-size: 30px 30px;
}

.dot-sm-bg {
  background-image: radial-gradient(circle, var(--dot-color-1) 1px, rgba(0,0,0,0) 1px);
  background-size: 5px 5px;
}

.deco-screen-light {
  box-shadow: 3px 3px 6px #0c0402;
  box-shadow: 0px 0px 5px 0px #0c0402;
  border-radius: 5px;
  padding: 1.5em;
  backdrop-filter: blur(2em);
  backdrop-filter: saturate(180%) blur(5px);
  background: rgba(255, 255, 255, .15);
  background: hsla(0,0%,100%,0.8);
  text-shadow: 1px 2px 4px rgba(0,0,0,.4);
  /* margin: 40px auto 50px; */
}

.deco-screen-dark {
  box-shadow: 3px 3px 6px #0c0402;
  box-shadow: 0px 0px 5px 0px #0c0402;
  border-radius: 5px;
  padding: 1.5em;
  text-shadow: 0px 2px 6px black;
  text-shadow: 1px 2px 4px rgba(0,0,0,.4);
  backdrop-filter: blur(1em);
  background: rgba(0, 0 , 0, .5);
  /* margin: 40px auto 50px; */
}

/* .deco-frame {
  border: 0.8rem ridge var(--theme-2);
} */

.deco-frame {
  border: 4px solid var(--theme-2);
}

/* fade-in animations */

.fade-in {
  /* animation: fade-frames 1.5s ease 5s forwards; */
  animation: fade-frames 4s ease 2s forwards;
  opacity: 0;
}

.fade-out {
  animation: fade-frames 5s ease 5s backwards;
  opacity: 0;
}

@keyframes fade-frames {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* bubble animation */

.circle-container {
  position: absolute;
  transform: translateX(-10vh);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.circle-container .circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  mix-blend-mode: screen;
  /* background-image: radial-gradient(#99ffff, #99ffff 10%, rgba(153, 255, 255, 0) 56%); */
  background-image: radial-gradient(#ffffff, #ffffff 10%, #44112200 56%);
  animation: fadein-frames 200ms infinite, scale-frames 2s infinite;
}

@keyframes fade-frames {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scale-frames {
  0% {
    transform: scale3d(0.4, 0.4, 1);
  }

  50% {
    transform: scale3d(2.2, 2.2, 1);
  }

  100% {
    transform: scale3d(0.4, 0.4, 1);
  }
}

.circle-container:nth-child(1) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-1;
  animation-duration: 36580ms;
  animation-delay: 22139ms;
}

@keyframes move-frames-1 {
  from {
    transform: translate3d(88vw, -130vh, 0);
  }

  to {
    transform: translate3d(68vw, 105vh, 0);
  }
}

.circle-container:nth-child(1) .circle {
  animation-delay: 3437ms;
}

.circle-container:nth-child(2) {
  width: 11px;
  height: 11px;
  animation-name: move-frames-2;
  animation-duration: 36356ms;
  animation-delay: 25059ms;
}

@keyframes move-frames-2 {
  from {
    transform: translate3d(82vw, -122vh, 0);
  }

  to {
    transform: translate3d(51vw, 101vh, 0);
  }
}

.circle-container:nth-child(2) .circle {
  animation-delay: 2286ms;
}

.circle-container:nth-child(3) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-3;
  animation-duration: 33725ms;
  animation-delay: 6651ms;
}

@keyframes move-frames-3 {
  from {
    transform: translate3d(35vw, -125vh, 0);
  }

  to {
    transform: translate3d(79vw, 101vh, 0);
  }
}

.circle-container:nth-child(3) .circle {
  animation-delay: 1995ms;
}

.circle-container:nth-child(4) {
  width: 14px;
  height: 14px;
  animation-name: move-frames-4;
  animation-duration: 31227ms;
  animation-delay: 9210ms;
}

@keyframes move-frames-4 {
  from {
    transform: translate3d(87vw, -110vh, 0);
  }

  to {
    transform: translate3d(2vw, 106vh, 0);
  }
}

.circle-container:nth-child(4) .circle {
  animation-delay: 3914ms;
}

.circle-container:nth-child(5) {
  width: 13px;
  height: 13px;
  animation-name: move-frames-5;
  animation-duration: 35945ms;
  animation-delay: 25642ms;
}

@keyframes move-frames-5 {
  from {
    transform: translate3d(13vw, -128vh, 0);
  }

  to {
    transform: translate3d(80vw, 101vh, 0);
  }
}

.circle-container:nth-child(5) .circle {
  animation-delay: 1381ms;
}

.circle-container:nth-child(6) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-6;
  animation-duration: 28189ms;
  animation-delay: 28065ms;
}

@keyframes move-frames-6 {
  from {
    transform: translate3d(14vw, -129vh, 0);
  }

  to {
    transform: translate3d(13vw, 107vh, 0);
  }
}

.circle-container:nth-child(6) .circle {
  animation-delay: 3415ms;
}

.circle-container:nth-child(7) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-7;
  animation-duration: 28869ms;
  animation-delay: 27008ms;
}

@keyframes move-frames-7 {
  from {
    transform: translate3d(63vw, -114vh, 0);
  }

  to {
    transform: translate3d(44vw, 105vh, 0);
  }
}

.circle-container:nth-child(7) .circle {
  animation-delay: 2162ms;
}

.circle-container:nth-child(8) {
  width: 10px;
  height: 10px;
  animation-name: move-frames-8;
  animation-duration: 28765ms;
  animation-delay: 2642ms;
}

@keyframes move-frames-8 {
  from {
    transform: translate3d(100vw, -120vh, 0);
  }

  to {
    transform: translate3d(66vw, 109vh, 0);
  }
}

.circle-container:nth-child(8) .circle {
  animation-delay: 2408ms;
}

.circle-container:nth-child(9) {
  width: 13px;
  height: 13px;
  animation-name: move-frames-9;
  animation-duration: 30669ms;
  animation-delay: 1117ms;
}

@keyframes move-frames-9 {
  from {
    transform: translate3d(47vw, -114vh, 0);
  }

  to {
    transform: translate3d(26vw, 108vh, 0);
  }
}

.circle-container:nth-child(9) .circle {
  animation-delay: 212ms;
}

.circle-container:nth-child(10) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-10;
  animation-duration: 30183ms;
  animation-delay: 821ms;
}

@keyframes move-frames-10 {
  from {
    transform: translate3d(37vw, -115vh, 0);
  }

  to {
    transform: translate3d(73vw, 105vh, 0);
  }
}

.circle-container:nth-child(10) .circle {
  animation-delay: 3085ms;
}
