block content
  div
    .alert(class="alert-danger", role="alert", id="error-group", style="display: none")
      ul(id="errors")

    form
      h3(class="title") Post Estate
      .row.row-cols-1.text-center
        //- .col-sm.col-md-8.col-lg-6
        .col
          .form-group
            input.form-control(type="text", id="name", placeholder="title")
          .form-group
            input.form-control(type="text", id="classYear", placeholder="Class Year")
          .form-group
            input.form-control(type="text", id="weekday", placeholder="Available Weekday")
          .form-group
            input.form-control(type="number", id="bathroom", placeholder="bathroom")
          .form-group
            input.form-control(type="text", id="name", placeholder="title")
          .form-group
            input.form-control(type="text", id="classYear", placeholder="Class Year")
          .form-group
            input.form-control(type="text", id="weekday", placeholder="Available Weekday")
          .form-group
            input.form-control(type="number", id="bathroom", placeholder="bathroom")
          .form-group

        div
          button(type="submit", class="btn btn-main", id="submit-btn") Submit
          button(type="reset", class="btn btn-main", id="reset-btn") Reset
