//- section(id="cta" class="p-5")
section(id="contact" class="section cta-section")
  <svg class="cta-deco" preserveAspectRatio="none" viewBox="0 0 317.5 7.938"><path d="M0 7.94V.002C55.496 5.232 108.99 8.47 159.37 3.14 212.24 8.64 264.63 5.7 317.5.002V7.94z"/></svg>
  .container-fluid.container-md.text-center
    h2.title
      span   #{cta.title}
    a(class="btn btn-cta" href="/contact") Contact me
