
.container
  .alert(class="alert-danger", role="alert", id="error-group", style="display: none")
    ul(id="errors")

  form
    h3(class="title") Post Estate
    .row.row-cols-1.row-cols-sm-2.justify-content-center.text-center
      //- .col-sm.col-md-8.col-lg-6
      .col
        .form-group.was-validated
          input.form-control(type="text", id="name", placeholder="title")
        .form-group
          input.form-control(type="text", id="classYear", placeholder="Class Year")
        .form-group
          input.form-control(type="text", id="weekday", placeholder="Available Weekday")
        .form-group
          input.form-control(type="number", id="bathroom", placeholder="bathroom")
        .form-group
      .col
        .form-group
          input.form-control(type="text", id="name", placeholder="title")
        .form-group
          input.form-control(type="text", id="classYear", placeholder="Class Year")
        .form-group
          input.form-control(type="text", id="weekday", placeholder="Available Weekday")
        .form-group
          input.form-control(type="number", id="bathroom", placeholder="bathroom")
        .form-group

      div
        button(type="submit", class="btn btn-main", id="submit-btn") Submit
        button(type="reset", class="btn btn-main", id="reset-btn") Reset

//- .container
//-   .alert(class="alert-danger", role="alert", id="error-group", style="display: none")
//-     ul(id="errors")
//-   .row
//-     .col-sm.col-md-8.offset-md-2.col-lg-6.offset-lg-3
//-       h3 Welcome To Express Validator!
//-       form
//-         .form-group
//-           input.form-control(type="text", id="name", placeholder="Name")
//-         .form-group
//-           input.form-control(type="text", id="classYear", placeholder="Class Year")
//-         .form-group
//-           input.form-control(type="text", id="weekday", placeholder="Available Weekday")
//-         .form-group
//-           input.form-control(type="email", id="email", placeholder="Email")
//-         .form-group
//-           input.form-control(type="password", id="password", placeholder="Password")
//-         .form-group
//-           input.form-control(type="password", id="confirmPassword", placeholder="Confirm Password")
//-         .form-group
//-           button.form-control(type="button", class="btn btn-primary", id="signup-btn") Submit
//- .container
//-   .alert(class="alert-danger", role="alert", id="error-group", style="display: none")
//-     ul(id="errors")
//-   .row
//-     .col-sm.col-md-8.offset-md-2.col-lg-6.offset-lg-3
//-       h3 Welcome To Express Validator!
//-       form
//-         .form-group
//-           input.form-control(type="text", id="name", placeholder="Name")
//-         .form-group
//-           input.form-control(type="text", id="classYear", placeholder="Class Year")
//-         .form-group
//-           input.form-control(type="text", id="weekday", placeholder="Available Weekday")
//-         .form-group
//-           input.form-control(type="email", id="email", placeholder="Email")
//-         .form-group
//-           input.form-control(type="password", id="password", placeholder="Password")
//-         .form-group
//-           input.form-control(type="password", id="confirmPassword", placeholder="Confirm Password")
//-         .form-group
//-           button.form-control(type="button", class="btn btn-primary", id="signup-btn") Submit
