section(id="testimonials" class="section")
  .container-fluid.container-md.p-0.p-sm-5
    h2(class="title text-center") 
      span.sub-title  What others are saying
    //- div(id="testimonial-slide" class="carousel slide carousel-fade" data-bs-ride="carousel")
    div(id="testimonial-slide" class="carousel slide carousel-fade py-5" data-bs-ride="carousel")
    
      div(class="carousel-inner mb-3")
        +testimonialCard(testimonials)
      
      //- div(class="carousel-indicators cta-black position-relative rounded-3")
        each testimonial, index in testimonials
          if index==0
            button(type="button" data-bs-target="#testimonial-slide" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1")
          
          else  
            button(
              type="button" 
              data-bs-target="#testimonial-slide" 
              data-bs-slide-to=`${index}` 
              aria-label=`${index + 1}`
            )

      button(class="carousel-control-prev w-auto" type="button" data-bs-target="#testimonial-slide" data-bs-slide="prev")
        span(class="theme fs-1" aria-hidden="true")
          //- | &#11207;
          | &#11164;
          //- | &#129064;
          //- | &#11160;
        span(class="visually-hidden") Previous

      button(class="carousel-control-next w-auto" type="button" data-bs-target="#testimonial-slide" data-bs-slide="next")
        span(class="theme fs-1" aria-hidden="true")
          //- | &#11208;
          | &#11166;
          //- | &#129066;
          //- | &#11162;
        span(class="visually-hidden") Next
